@use "./styles/variables" as *;
@use "./styles/upload";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: $background-color;

  .image {
    max-width: 100%;
  }
}
