@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: $background-color;
}

.upload-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  gap: 1rem;

  > * {
    > * {
      margin-bottom: 1rem;
    }
  }
}

img {
  max-width: 100%;
}
